# Udemy: Data Analysis with Pandas and Python

## 1. Importing libraries

In [1]:
import pandas as pd
import numpy as np
from random import random, randint

## 2. Create a **Pandas** *Series* object from a list

### 2.1 *Integer* list

In [7]:
l_int = [i for i in range(5)] 
pd.Series(l_int)

0    0
1    1
2    2
3    3
4    4
dtype: int64

### 2.2 *Float* list

In [10]:
l_float = [i/5 for i in range(5)]
pd.Series(l_float)

0    0.0
1    0.2
2    0.4
3    0.6
4    0.8
dtype: float64

### 2.3 *Boolean* list

In [13]:
l_boolean = [True if i%2 else False for i in range(5)]
pd.Series(l_boolean)

0    False
1     True
2    False
3     True
4    False
dtype: bool

### 2.4 *String* list

In [27]:
s1 = "My name is Christian and I'm 42 years old"
l_string = [i for i in s1.split()]
pd.Series(l_string)

0           My
1         name
2           is
3    Christian
4          and
5          I'm
6           42
7        years
8          old
dtype: object

## 3. Create a **Pandas** *Series* object from a dictionary

### 3.1 *Integer* dictionary

In [20]:
d_integer = {i:i for i in range(5)}
pd.Series(d_integer)

0    0
1    1
2    2
3    3
4    4
dtype: int64

### 3.2 *Float* dictionary

In [22]:
d_float = {i:i/5 for i in range(5)}
pd.Series(d_float)

0    0.0
1    0.2
2    0.4
3    0.6
4    0.8
dtype: float64

### 3.3 *Boolean* dictionary

In [26]:
d_boolean = {i:True if i%2 else False for i in range(5)}
pd.Series(d_boolean)

0    False
1     True
2    False
3     True
4    False
dtype: bool

### 3.4 *String* dictionary

In [29]:
s2 = "I'm born in Colombia in 1980"
d_string = {k:i for k,i in enumerate(s2.split())}
pd.Series(d_string)

0         I'm
1        born
2          in
3    Colombia
4          in
5        1980
dtype: object

## 4. Attributes on a *Series* object

In [31]:
list_1 = [i*10.5 for i in range(5)]
s_1 = pd.Series(list_1); s_1

0     0.0
1    10.5
2    21.0
3    31.5
4    42.0
dtype: float64

In [35]:
print(f"The values attribute from s_1 is: {s_1.values}")
print(f"The index attribute from s_1 is: {s_1.index}")
print(f"The dtype attribute from s_1 is: {s_1.dtype}")

The values attribute from s_1 is: [ 0.  10.5 21.  31.5 42. ]
The index attribute from s_1 is: RangeIndex(start=0, stop=5, step=1)
The dtype attribute from s_1 is: float64

## 5. Methods on a *Series* object

In [41]:
list_2 = [round(random()+randint(0,10), 2) for i in range(5)]
s_2 = pd.Series(list_2); s_2

0    2.03
1    7.42
2    0.72
3    3.86
4    3.87
dtype: float64

In [50]:
print(f"The max method from s_2 is: {s_2.max()}")
print(f"The sum method from s_2 is: {s_2.sum()}")
print(f"The prod method from s_2 is: {s_2.prod():.2f}")
print(f"The mean method from s_2 is: {s_2.mean():.2f}")
print(f"The std method from s_2 is: {s_2.std():.2f}")

The max method from s_2 is: 7.42
The sum method from s_2 is: 17.9
The prod method from s_2 is: 162.01
The mean method from s_2 is: 3.58
The std method from s_2 is: 2.52